*apikey*
*.mapbox_token*
*get-log*
*.vscode/
*darksky_api.txt
**/ionex_jplg/*
**/ionex_jplg_bk/*
**/empty_ionex_jplg/*
**/ionex_esag/*
**/ionex_esag_bk/*
**/tec_csv*
**/tec_tables*
**/empty_ionex_esag/*
**/Temp*/*
**/tec_*/jplg*
**test.csv*
**ipynb_checkpoints**
