*apikey*
*.mapbox_token*
*get-log*
*.vscode/
*darksky_api.txt
**/ionex_esag/*
**/ionex_esag_bk/*
**/olr_csv/*
**/olr_data/*
**/tec_csv*
**/tec_tables*
**/Temp*/*
**/tec_*/jplg*
**test.csv*
**ipynb_checkpoints**
*Manifest.toml*
